/*瀏覽列*/
/*色塊區*/
.navbar {
    background-color: #fafafa;
    width: 100%; /* 填滿整條 X 軸 */
    margin: 0; /* 移除外邊距 */
    border-radius: 0; /* 移除圓角 */
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加陰影 */
}

/* 左上網頁標題 */
.navbar-brand {
    font-size: 1.5rem; /* 調整品牌名稱的字體大小 */
    font-weight: bold; /* 加粗品牌名稱 */
}

.nav-link {
    font-size: 1.1rem; /* 調整導覽連結的字體大小 */
    margin: 0 10px; /* 增加連結之間的間距 */
}

.navbar-toggler {
    border: none; /* 移除切換按鈕的邊框 */
    background-color: rgba(255, 255, 255, 0.2); /* 添加透明背景 */
}

/*點選瀏覽列後的效果*/
.nav-link.active {
    font-weight: bold;
    color: #fff !important;
    background-color: #2f5077;
    border-radius: 5px;
}


.navbar .btn-outline-light:hover {
    background-color: rgba(255, 255, 255, 0.1); /* 輕微亮一點 */
    color: rgba(255, 255, 255, 0.85); /* 提高文字亮度 */
    border-color: rgba(255, 255, 255, 0.85);
}


.navbar .btn-login:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加懸浮陰影 */
    transform: translateY(-2px); /* 輕微上移效果（可選） */
}

.navbar-dark.bg-primary {
    background-color: #6B7EA5 !important; /* 紅色背景 */
    width: 100%; /* 填滿整條 X 軸 */
    margin: 0; /* 移除外邊距 */
    border-radius: 0; /* 移除圓角 */
}

/*瀏覽列end*/

/*底部的邊*/
footer.bg-primary {
    background-color: #6B7EA5 !important; /*rgb(168, 32, 32)*/
}

#about {
    border-top: 2px solid #000; /* 設定橫線的粗細與顏色 */
    padding-top: 20px; /* 增加上方內邊距，讓內容與橫線有間距 */
}

.container {
    line-height: 2;
}

.schedule-table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.available {
    background-color: #fff;
}

.available:hover {
    background-color: #e6ffe6;
}

.busy {
    background-color: #ccc;
    cursor: not-allowed;
}

.schedule-note {
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #ccc;
    height: 100%;
}

.time-cell a {
    text-decoration: none;
    color: #000;
    display: block;
}
